{% extends 'base.html' %}

{% block content %}

{# Ernesto Cruz: AI helped me out starting here with the layouts/design of front end, specifically for the movie.poster_path #}
<div class="container mt-4">

    <h1>Welcome to Netxus!</h1>

    <p>Here you can post and view forums based off of movies!</p>

    <hr>

    <h2 class="mb-4">Movies</h2>

    <div class="row">

        {% for movie in movies %}

            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    {% if movie.poster_path %}

                        <a href="{% url 'movies' movie.id %}">
                            <img
                                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                class="card-img-top"
                                alt="{{ movie.name }}"
                            >
                        </a>

                    {% endif %}

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ movie.name }}
                        </h5>

                        <p class="card-text">
                            Release Year: {{ movie.release_date }}
                        </p>

                        <a
                            href="{% url 'movies' movie.id %}"
                            class="btn btn-primary"
                        >
                            View Movie
                        </a>

                    </div>

                </div>

            </div>

        {% empty %}

            <p>No movies have been added yet.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}