{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5">

            <div class="section">

                <div class="profile-card">

                    <div class="text-center mb-4">

                        <h1>Welcome Back</h1>

                        <p class="text-secondary">
                            Log in to continue to Netxus.
                        </p>

                    </div>

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            type="submit"
                            class="btn btn-netxus w-100 mt-3"
                        >
                            Login
                        </button>

                    </form>

                    <div class="text-center mt-4">

                        <span class="text-secondary">
                            Don't have an account?
                        </span>

                        <a
                            href="{% url 'register' %}"
                            class="text-danger"
                        >
                            Register
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}