<!DOCTYPE html>
<html>

    <head>
        <title>{{movie.name}}</title>
    </head>
    <body>
        <h1>{{movie.name}}</h1>

        <p>{{movie.description}}</p>

        <p> Release Year: {{ movie.release_date }} </p>

        <hr>

            <a href="{% url 'create_post' movie.id %}">
                Create Post
            </a>
        <hr>
        
        {% for post in posts %}
            <h2>{{post.title}}</h2> 

            <p>{{post.content}}</p>

            <small>{{post.created_at}}</small>
        {%empty%}

            <p>No posts yet.</p>
            
        {% endfor %}
    </body>
</html>