{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="profile-card">

        <div class="profile-avatar">
            {{ user.username|first|upper }}
        </div>

        <h1>{{ user.username }}</h1>

        <p class="text-secondary">
            Netxus member
        </p>


        <div class="mt-4">

            <div class="profile-row">

                <div class="profile-label">
                    Username
                </div>

                <div class="profile-value">
                    {{ user.username }}
                </div>

            </div>


            <div class="profile-row">

                <div class="profile-label">
                    First Name
                </div>

                <div class="profile-value">
                    {{ user.first_name|default:"Not provided" }}
                </div>

            </div>


            <div class="profile-row">

                <div class="profile-label">
                    Last Name
                </div>

                <div class="profile-value">
                    {{ user.last_name|default:"Not provided" }}
                </div>

            </div>


            <div class="profile-row">

                <div class="profile-label">
                    Email
                </div>

                <div class="profile-value">
                    {{ user.email|default:"Not provided" }}
                </div>

            </div>


            <div class="profile-row">

                <div class="profile-label">
                    Member Since
                </div>

                <div class="profile-value">
                    {{ user.date_joined|date:"F d, Y" }}
                </div>

            </div>

        </div>


        <div class="mt-4">

            <a
                href="{% url 'edit_profile' %}"
                class="btn btn-netxus"
            >
                Edit Profile
            </a>

        </div>

    </div>

</div>

{% endblock %}